@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}
.padding {
  @apply px-[30px] md:px-[88px];
}
.topSection {
  @apply pt-[140px] md:pt-[200px] min-h-screen;
}
.sectionPadding {
  @apply lg:px-[180px];
}
.sectionTitle {
  @apply text-[30px] md:text-[54.37px] font-[900];
}
.smText {
  @apply text-[14px] md:text-[17.892px] font-[600];
}
.mdText {
  @apply text-[20px] md:text-[27.892px] font-[400];
}
.shadowPhone {
  width: 5000px !important ;
  height: 1000px !important ;
  @apply border;
}
